
<ion-header>

  <ion-navbar>
    <ion-title>Welcome</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="logout()">
        <ion-icon name="exit"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <!--create refresh pull down-->
  <ion-refresher (ionRefresh)="getFriend($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-fab bottom right>
    <button ion-fab icon-only (click)="showAddDialog()">
      <ion-icon name="add">
      </ion-icon>
    </button>
  </ion-fab>

  <ion-list>
    <!--*ngFor is similiar with foreach/for loop-->
    <!--all data inside ion-item-sliding will loop-->
    <ion-item-sliding *ngFor="let friend of friends" >
      <!--sliding can slide left and right side-->
      <ion-item>
        <ion-avatar item-left>
          <img src="http://lorempixel.com/32/32">
        </ion-avatar>
        <!--will display info from database-->
        <h2>{{friend.name}}</h2>
        <h3>{{friend.email}}</h3>
        <p>{{friend.number}}</p>
      </ion-item>

      <ion-item-options side="right">
        <button ion-button icon-only color="secondary" (click)="editFriend(friend)">
          <ion-icon name="create"></ion-icon>
        </button>
        <button ion-button icon-only color="danger" (click)="deleteFriend(friend)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
